# Scripts de deploy
deploy/.*
update-config.sh

# Scripts de prueba
consola/exec/.*
cpu/exec/.*
kernel/exec/.*
memoria/exec/.*

# Configs de prueba
consola/exec_conf/.*
cpu/exec_conf/.*
kernel/exec_conf/.*
memoria/exec_conf/.*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

#Logs
*.log

#Language.settings.xml
shared/.settings/language.settings.xml
consola/.settings/language.settings.xml
CPU/.settings/language.settings.xml
cpu/.settings/language.settings.xml
kernel/.settings/language.settings.xml
memoria/.settings/language.settings.xml

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.metadata/