# Scripts de deploy
deploy/*.sh
consola/update-config.sh
cpu/update-config.sh
kernel/update-config.sh
memoria/update-config.sh

# Scripts de prueba
consola/exec/*.sh
cpu/exec/*.sh
kernel/exec/*.sh
memoria/exec/*.sh

# Configs de prueba
consola/exec_conf/*
cpu/exec_conf/*.config
kernel/exec_conf/*.config
memoria/exec_conf/*.config

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

#Logs
*.log

#Language.settings.xml
shared/.settings/language.settings.xml
consola/.settings/language.settings.xml
CPU/.settings/language.settings.xml
cpu/.settings/language.settings.xml
kernel/.settings/language.settings.xml
memoria/.settings/language.settings.xml

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.metadata/